@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 375px;
  height: 48px;
}

.icon {
  position: absolute;
  right: 20px;
  margin-top: 17px;
}

.logo {
  width: 100px;
  height: 40px;
  margin-top: 4px;
  position: absolute;
  left: 12px;
  padding: 10px 12px 10px 10px;
}

.logo h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #6070ff;
}

.headline {
  background-image: url(./pics/bg.png);
  height: 604px;
  width: 375px;
  padding: 111px 24px;
  overflow: hidden;
}

.primary-text {
  width: 327px;
  height: 150px;
  margin-bottom: 10px;
}

.primary-text p {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 41px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 10px;
}

.description {
  width: 327px;
  height: 146px;
  margin-bottom: 10px;
}

.description p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.social-media {
  width: 125px;
  height: 24px;
  margin-bottom: 10px;
}

.social-media p {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

.social-media-icon {
  height: 20px;
  width: 170.17px;
}

.works {
  display: grid;
  width: 375px;
  height: 2788px;

  /* background-color: #dfe1e6; */
  padding: 114px  24px 114px 24px;
}

.card-work1 {
  width: 327px;
  height: 552px;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card-work1 img {
  width: 295px;
  height: 220px;
}

.card-work1 .left-block {
  width: 295px;
  height: 288px;
}

.card-work1 .primary-text {
  width: 295px;
  height: 36px;
}

.card-work1 .primary-text p {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.card-work1 .frame2 {
  display: flex;
  width: 270px;
  height: 32px;
}

.card-work1 .frame2 p {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.card-work1 .frame2 ul {
  display: flex;
  padding: 0 0 0 20px;
}

.card-work1 .frame2 ul li {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin: 0 10px 0 23px;
  color: #7a869a;
}

.left-block .description {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  margin-top: 10px;
}

.left-block .tags {
  width: 214px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.left-block .tags .html-tag {
  background-color: #ebebff;
  width: 57px;
  height: 24px;
  border-radius: 8px;
  padding: 4px 12px;
}

.left-block .normal-button p {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #6070ff;
}

.card-work2 .primary-text p {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.card-work2 .frame2 p {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.card-work3 .primary-text p {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.card-work3 .frame2 p {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.card-work4 .primary-text p {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.card-work4 .frame2 p {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.about .social-media p {
  width: 125px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5px;
}

.about .normal-button p {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #396df2;
}

.frame-3 > .skills > p {
  font-family: 'Poppins', sans-serif;
  width: 237px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  position: relative;
  top: 24px;
  left: 12px;
}

.left-block .tags .html-tag p {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.left-block .tags .css-tag {
  background-color: #ebebff;
  width: 49px;
  height: 24px;
  border-radius: 8px;
  padding: 4px 12px;
}

.left-block .tags .css-tag p {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.left-block .tags .js-tag {
  background-color: #ebebff;
  width: 92px;
  height: 24px;
  border-radius: 8px;
  padding: 4px 12px;
}

.left-block .tags .js-tag p {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.left-block .action {
  width: 295px;
  height: 72px;
  margin-top: 10px;
}

.left-block .normal-button {
  width: 126px;
  height: 48px;
  border-radius: 8px;
  padding: 12px;
  position: relative;
  top: 12px;
  border: 1px solid #6070ff;
}

.card-work2 {
  width: 327px;
  height: 596px;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card-work2 img {
  width: 295px;
  height: 220px;
}

.card-work2 .left-block {
  width: 295px;
  height: 288px;
}

.card-work2 .primary-text {
  width: 290px;
  height: 80px;
}

.card-work2 .frame2 {
  display: flex;
  width: 270px;
  height: 32px;
}

.card-work2 .frame2 ul {
  display: flex;
  padding: 0 0 0 20px;
}

.card-work2 .frame2 ul li {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin: 0 10px 0 23px;
  color: #7a869a;
}

.card-work3 {
  width: 327px;
  height: 552px;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card-work3 img {
  width: 295px;
  height: 220px;
}

.card-work3 .left-block {
  width: 295px;
  height: 288px;
}

.card-work3 .primary-text {
  width: 295px;
  height: 36px;
}

.card-work3 .frame2 {
  display: flex;
  width: 270px;
  height: 32px;
}

.card-work3 .frame2 ul {
  display: flex;
  padding: 0 0 0 20px;
}

.card-work3 .frame2 ul li {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin: 0 10px 0 23px;
  color: #7a869a;
}

.card-work4 {
  width: 327px;
  height: 596px;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card-work4 img {
  width: 295px;
  height: 220px;
}

.card-work4 .left-block {
  width: 295px;
  height: 288px;
}

.card-work4 .primary-text {
  width: 290px;
  height: 80px;
}

.card-work4 .frame2 {
  display: flex;
  width: 270px;
  height: 32px;
}

.card-work4 .frame2 ul {
  display: flex;
  padding: 0 0 0 20px;
}

.card-work4 .frame2 ul li {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin: 0 10px 0 23px;
  color: #7a869a;
}

.about {
  /* border: 2px solid blue; */
  width: 375px;
  height: 1062.15px;
  padding: 114px 24px;
}

.about .top {
  /* border: 2px solid red; */
  width: 327px;
  height: 346px;
}

.about .top .primary-text p {
  margin-bottom: 0;
}

.about .social-media {
  /* border: 2px solid green; */
  width: 200px;
  height: 80px;
  margin-bottom: 10px;
}

.about .social-media-icon {
  margin-left: 10px;
  width: 200px;
  height: 40px;
}

.about .normal-button {
  width: 162px;
  height: 48px;
  border-radius: 8px;
  padding: 12px;

  /* position: relative;
    top: 12px; */
  border: 1px solid #6070ff;
}

.skill-list {
  width: 327px;
  height: 464.15px;
  margin-top: 10px;
}

.skill-list > hr {
  width: 327px;
  height: 1px;
  color: #dfe1e6;
}

.skill-list > .frame-1 {
  width: 327px;
  height: 320.15px;
}

.skill-list > .frame-1 > .language {
  display: flex;
  justify-content: space-between;
  width: 327px;
  height: 72px;
}

.skill-list > .frame-1 > .language > p {
  font-family: 'Poppins', sans-serif;
  width: 237px;
  height: 24px;
  position: relative;
  top: 24px;
  left: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.frame-2 > .framework > img {
  width: 40px;
  height: 40px;
  position: relative;
  top: 16px;
  right: 20px;
}

.frame-3 > .skills > img {
  width: 40px;
  height: 40px;
  position: relative;
  top: 16px;
  right: 20px;
}

.skill-list > .frame-1 > .language > img {
  width: 40px;
  height: 40px;
  position: relative;
  top: 16px;
  right: 20px;
}

.skill-list > .frame-1 > .language-list {
  width: 327px;
  height: 248.15px;
  padding: 12px;
}

.skill-list > .frame-1 > .language-list > .js,
.html,
.css {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-grow: 1;
  width: 303px;
  height: 66.72px;
  border-radius: 8px;
  background-color: #f7f7f9;
}

.skill-list > .frame-1 > .language-list > .html > img {
  width: 48px;
  height: 48px;
  position: relative;
  left: 12px;
}

.skill-list > .frame-1 > .language-list > .css > img {
  width: 48px;
  height: 48px;
  position: relative;
  left: 12px;
}

.skill-list > .frame-1 > .language-list > .js > img {
  width: 48px;
  height: 48px;
  position: relative;
  left: 12px;
}

.skill-list > .frame-2 > .framework > p {
  font-family: 'Poppins', sans-serif;
  width: 237px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  position: relative;
  top: 24px;
  left: 12px;
}

.skill-list > .frame-1 > .language-list > .html > p {
  width: 215px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  position: relative;
  top: 6px;
  left: 30px;
}

.skill-list > .frame-1 > .language-list > .css > p {
  width: 215px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  position: relative;
  top: 6px;
  left: 30px;
}

.skill-list > .frame-1 > .language-list > .js > p {
  width: 215px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  position: relative;
  top: 6px;
  left: 30px;
}

.skill-list > .frame-2 > .framework {
  display: flex;
  justify-content: space-between;
  width: 327px;
  height: 72px;
}

.skill-list > .frame-3 > .skills {
  display: flex;
  justify-content: space-between;
  width: 327px;
  height: 72px;
}
